{include file="common/header" /}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-lightred">
            <span class="widget-caption">Horizontal Form</span>
        </div>
        <div class="widget-body">
            <div id="horizontal-form">
                <form id="togglingForm" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                    <input type="hidden" name="link_id" value="{$link_data.link_id}">
                    <div class="form-group">
                        <label for="title" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label no-padding-right">标题</label>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <input type="text" class="form-control" id="title" placeholder="标题" name="title" value="{$link_data.title}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="link_url" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label no-padding-right">链接地址</label>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <input type="text" class="form-control" id="link_url" placeholder="链接地址" name="link_url" value="{$link_data.link_url}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label no-padding-right" style="padding-top: 0px !important;">类别</label>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label>
                                <input name="type" type="radio" class="colored-blue" value="1" {if condition="($link_data.type == 1)"} checked="checked" {/if}>
                                <span class="text">{$Think.config.cost.LINKTYPE[1]}</span>
                            </label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label>
                                <input name="type" type="radio" class="colored-danger" value="2" {if condition="($link_data.type == 2)"} checked="checked" {/if}>
                                <span class="text">{$Think.config.cost.LINKTYPE[2]}</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label no-padding-right" style="padding-top: 0px !important;">状态</label>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label>
                                <input name="status" type="radio" class="colored-blue" value="2"  {if condition="($link_data.status == 2)"} checked="checked" {/if}>
                                <span class="text">{$Think.config.cost.LINKSTATUS[2]}</span>
                            </label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label>
                                <input name="status" type="radio" class="colored-danger" value="1" {if condition="($link_data.status == 1)"} checked="checked" {/if}>
                                <span class="text">{$Think.config.cost.LINKSTATUS[1]}</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image_uploads" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label no-padding-right">logo</label>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="btn-box">
                            <button id="btn">上传图片</button>
<!--                            <input type="file"  accept="image/*" id="image_uploads" onchange="handleFiles(this)" multiple>-->
                            <input type="file"  accept="image/*" id="image_uploads" onchange="handleFiles(this)">
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" id="preview">
                            {if condition="($link_data.logo)"}
                            <div class="preview-img-box">
                                <img src="{$link_data.logo}" alt="未成功加载图片"  class="img">
                            </div>
                            {else /}
                                No files currently selected for upload
                            {/if}
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label no-padding-right">描述</label>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <textarea class="form-control" rows="3" placeholder="描述" name="description">{$link_data.description}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2  col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <button id="submit" class="btn btn-blue">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/js/validation/bootstrapvalidator.js"></script>
<!--Basic Scripts-->
<script src="__STATIC__/js/jquery.serializejson.min.js" type="text/javascript" ></script>
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/slimscroll/jquery.slimscroll.min.js"></script>

<!--Beyond Scripts-->
<script src="__STATIC__/js/beyond.min.js"></script>
<script src="__STATIC__/js/common/file-common.js"></script>
<script>
    $(function () {
        layui.use(['layer', 'form',"laydate"], function(){
            var layer = layui.layer;
        });
        $('#togglingForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: 'The title is required'
                        },
                    }
                },
                link_url: {
                    validators: {
                        notEmpty: {
                            message: 'The link_url is required'
                        },
                        regexp: {
                            regexp:  /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[\-;:&=\+\$,\w]+@)?[A-Za-z0-9\.\-]+|(?:www\.|[\-;:&=\+\$,\w]+@)[A-Za-z0-9\.\-]+)((?:\/[\+~%\/\.\w\-_]*)?\??(?:[\-\+=&;%@\.\w_]*)#?(?:[\.\!\/\\\w]*))?)/,
                            message: 'The link_url Non conformity'
                        },
                    }
                },
                description: {
                    validators: {
                        notEmpty: {
                            message: 'The description is required'
                        },
                    }
                },
            }
        });

        $("#submit").on("click", function(){
            let bootstrapValidator = $("#togglingForm").data('bootstrapValidator');
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid()){
                // let thisData= $("#togglingForm").serializeJSON();
                // let id = "{$link_data.link_id}";
                // console.log($("#logo")[0].files);
                // var form=document.querySelector("#togglingForm");
                // //将获得的表单元素作为参数，对formData进行初始化
                // var formdata=new FormData(form);
                // //通过get方法获得name为advName元素的value值
                // console.log(formdata.get("title"));//xixi
                // //通过get方法获得name为advType元素的value值
                // console.log(formdata.get("link_url"));//1
                // formdata.append("logo",[0]);
                let formDatas=getFormData("#togglingForm",$("#image_uploads")[0].files,"logo");
                $.ajax({
                    url: "{:url('link/save_link_edit')}",
                    type: 'post',
                    data: formDatas,
                    dataType: 'json',
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (callback) {
                        if (callback.status == 1) {
                            layer.msg(callback.msg, {
                                icon: 1,
                                time: 1000
                            }, function(){
                                let indexs = parent.layer.getFrameIndex(window.name);//关闭当前iframe
                                parent.layer.close(indexs);
                                let obj={
                                    "offset" : 0,
                                    "num" : 10,
                                    "pagetouse" : true,
                                    "url" : "{:url('link/content')}",
                                    "targetElem" : "#content",
                                    "formElem" : "#link_form",
                                    "pageCountElem" : "#page-count"
                                };
                                parent.list(obj);
                            });
                        }else{
                            layer.msg(callback.msg, {time: 1000,icon: 2});
                        }
                    }
                });

                // $.post("{:url('link/save_link_edit')}", {"data":thisData,"id":id,"logo":1}, function (callback) {
                //     if (callback.status == 1) {
                //         layer.msg(callback.msg, {
                //             icon: 1,
                //             time: 1000
                //         }, function(){
                //             var indexs = parent.layer.getFrameIndex(window.name);//关闭当前iframe
                //             parent.layer.close(indexs);
                //             var obj={
                //                 "offset" : 0,
                //                 "num" : 10,
                //                 "pagetouse" : true,
                //                 "url" : "{:url('link/content')}",
                //                 "targetElem" : "#content",
                //                 "formElem" : "#link_form",
                //                 "pageCountElem" : "#page-count"
                //             };
                //             parent.list(obj);
                //         });
                //     }else{
                //         layer.msg(callback.msg, {time: 1000,icon: 2});
                //     }
                // }, "json");
            }
        });

    });
</script>