/*#卑微小谭 Animations*/
td {
  word-break: break-all;
  word-wrap: break-word;
}
/* 上传图片图标及预览样式*/
.preview-img-box {
  width: 80px;
  height: 80px;
  /*border: 1px solid rgb(143, 59, 59);*/
  float: left;
  margin-right: 10px;
}

.img {
  width: 80px;
  height: 80px;
  /*border: 1px solid rgb(143, 59, 59);*/
}

#btn-box {
  position: relative;
}

#image_uploads {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; //将input设为透明
}

#btn {
  width: 100px;
  height: 30px;
  background-color: skyblue;
  color: white;
  margin-right: 80px;
  border: none;
  border-radius: 10px;
}