<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<table class="table table-bordered table-hover" >
    <thead>
    <tr>
        <th>#</th>
        <th>栏目名称</th>
        <th>关键词</th>
        <th>描述</th>
        <th>是否显示</th>
        <th>排序</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th style="width: 15%;">操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach name="datas" item="v" key="k" }
    <tr data-id="{$v.cate_id}" data-pid="{$v.pid}">
        <td>{++$k}</td>
        <td><?php echo str_repeat("---- ",$v["level"]);?> {$v.cate_name}</td>
        <td>{$v.keywords}</td>
        <td>{$v.description}</td>
        <td>{if condition="($v.show_nav == $Think.config.cost.SHOWNAVHAVE['VAL'])"} {$Think.config.cost.SHOWNAVHAVE['DESC']}{else /}{$Think.config.cost.SHOWNAVNONE['DESC']}{/if}</td>
        <td>{$v.sort}</td>
        <td>{$v.create_time}</td>
        <td>{$v.update_time}</td>
        <td>
            <a href="javascript:void(0)" class="btn btn-info btn-xs edit"     id="cate-edit"><i class="fa fa-edit"></i> Edit</a>
            <a href="javascript:void(0)" class="btn btn-danger btn-xs delete" id="cate-delete"><i class="fa fa-trash-o"></i> Delete</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
    <input id="page-count"  value="{$count}" type="hidden">
</table>
</div>
<script>

</script>